.idea
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/redirect-service/build/classes/java/test/com/code4copy/redirectservice/rest/AbstractIntegrationTest.class
/shortener-service/build/classes/java/test/com/code4copy/shortnerservice/rest/AbstractIntegrationTest.class
/token-service/build/classes/java/test/com/code4copy/tokenservice/rest/AbstractIntegrationTest.class
/redirect-service/build/resources/main/application.properties
/redirect-service/build/resources/test/application.properties
/shortener-service/build/resources/main/application.properties
/shortener-service/build/resources/test/application.properties
/token-service/build/resources/main/application.properties
/token-service/build/resources/test/application.properties
/redirect-service/build/resources/main/application-dev.properties
/shortener-service/build/resources/main/application-dev.properties
/token-service/build/resources/main/application-dev.properties
/redirect-service/build/resources/main/application-stage.properties
/token-service/build/resources/main/application-stage.properties
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/config/ApplicationConfig.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/config/ApplicationConfig.class
/redirect-service/build/reports/tests/test/css/base-style.css
/shortener-service/build/reports/tests/test/css/base-style.css
/token-service/build/reports/tests/test/css/base-style.css
/redirect-service/build/bootJarMainClassName
/shortener-service/build/bootJarMainClassName
/token-service/build/bootJarMainClassName
/redirect-service/build/reports/tests/test/packages/com.code4copy.redirectservice.rest.html
/redirect-service/build/reports/tests/test/classes/com.code4copy.redirectservice.rest.RedirectControllerTest.html
/shortener-service/build/reports/tests/test/packages/com.code4copy.shortnerservice.rest.html
/shortener-service/build/reports/tests/test/classes/com.code4copy.shortnerservice.rest.ShortUrlControllerTest.html
/token-service/build/reports/tests/test/packages/com.code4copy.tokenservice.core.dao.html
/token-service/build/reports/tests/test/classes/com.code4copy.tokenservice.core.dao.TokenLogRepositoryTest.html
/shortener-service/target/embeddedCassandra/commitlog/CommitLog-6-1636086387319.log
/shortener-service/target/embeddedCassandra/commitlog/CommitLog-6-1636086387320.log
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/common/Constants.class
/shortener-service/target/embeddedCassandra/cu-cassandra.yaml
/redirect-service/build/reports/tests/test/index.html
/shortener-service/build/reports/tests/test/index.html
/token-service/build/reports/tests/test/index.html
/shortener-service/target/embeddedCassandra/log4j-embedded-cassandra.properties
/redirect-service/build/reports/spotbugs/main.html
/shortener-service/build/reports/spotbugs/main.html
/token-service/build/reports/spotbugs/main.html
/redirect-service/build/tmp/bootJar/MANIFEST.MF
/shortener-service/build/tmp/bootJar/MANIFEST.MF
/shortener-service/build/tmp/jar/MANIFEST.MF
/token-service/build/tmp/bootJar/MANIFEST.MF
/redirect-service/build/test-results/test/binary/output.bin
/shortener-service/build/test-results/test/binary/output.bin
/token-service/build/test-results/test/binary/output.bin
/redirect-service/build/test-results/test/binary/output.bin.idx
/shortener-service/build/test-results/test/binary/output.bin.idx
/token-service/build/test-results/test/binary/output.bin.idx
/redirect-service/build/tmp/compileJava/previous-compilation-data.bin
/redirect-service/build/tmp/compileTestJava/previous-compilation-data.bin
/shortener-service/build/tmp/compileJava/previous-compilation-data.bin
/shortener-service/build/tmp/compileTestJava/previous-compilation-data.bin
/token-service/build/tmp/compileJava/previous-compilation-data.bin
/token-service/build/tmp/compileTestJava/previous-compilation-data.bin
/redirect-service/build/libs/redirect-service-1.0-SNAPSHOT.jar
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/rest/RedirectController.class
/redirect-service/build/classes/java/test/com/code4copy/redirectservice/rest/RedirectControllerTest.class
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/RedirectServiceApplication.class
/redirect-service/build/reports/tests/test/js/report.js
/shortener-service/build/reports/tests/test/js/report.js
/token-service/build/reports/tests/test/js/report.js
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/adapter/RestAdapterV1.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/adapter/RestAdapterV1.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/adapter/RestAdapterV1.class
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/adapter/impl/RestAdapterV1Impl.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/adapter/impl/RestAdapterV1Impl.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/adapter/impl/RestAdapterV1Impl.class
/token-service/build/classes/java/test/com/code4copy/tokenservice/adapter/RestAdapterV1ImplTest.class
/redirect-service/build/test-results/test/binary/results.bin
/token-service/build/test-results/test/binary/results.bin
/shortener-service/build/libs/shortener-service-0.0.1-SNAPSHOT.jar
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/ShortenerServiceApplication.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/common/exception/ShorteningException.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/rest/controller/ShortUrlController.class
/shortener-service/build/classes/java/test/com/code4copy/shortnerservice/rest/ShortUrlControllerTest.class
/shortener-service/build/resources/test/shorturldb.cql
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/core/domain/ShortUrlMapDO.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/core/domain/ShortUrlMapDO.class
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/core/dao/ShortUrlRepository.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/core/dao/ShortUrlRepository.class
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/core/service/ShortUrlService.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/core/service/ShortUrlService.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/core/service/impl/ShortUrlServiceImpl$TokenRange.class
/redirect-service/build/classes/java/main/com/code4copy/redirectservice/core/service/impl/ShortUrlServiceImpl.class
/shortener-service/build/classes/java/main/com/code4copy/shortnerservice/core/service/impl/ShortUrlServiceImpl.class
/shortener-service/build/classes/java/test/com/code4copy/shortnerservice/core/service/impl/ShortUrlServiceImplTest.class
/redirect-service/build/reports/tests/test/css/style.css
/shortener-service/build/reports/tests/test/css/style.css
/token-service/build/reports/tests/test/css/style.css
/redirect-service/build/reports/spotbugs/test.html
/shortener-service/build/reports/spotbugs/test.html
/token-service/build/reports/spotbugs/test.html
/redirect-service/build/test-results/test/TEST-com.code4copy.redirectservice.rest.RedirectControllerTest.xml
/shortener-service/build/test-results/test/TEST-com.code4copy.shortnerservice.rest.ShortUrlControllerTest.xml
/token-service/build/test-results/test/TEST-com.code4copy.tokenservice.core.dao.TokenLogRepositoryTest.xml
/token-service/build/libs/token-service-1.0-SNAPSHOT.jar
/token-service/build/classes/java/main/com/code4copy/tokenservice/rest/controller/TokenController.class
/token-service/build/classes/java/test/com/code4copy/tokenservice/rest/TokenControllerTest.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/core/domain/TokenLogDO.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/core/dao/TokenLogRepository.class
/token-service/build/classes/java/test/com/code4copy/tokenservice/core/dao/TokenLogRepositoryTest.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/rest/resource/TokenResource.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/core/service/TokenService.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/TokenServiceApplication.class
/token-service/build/classes/java/main/com/code4copy/tokenservice/core/service/impl/TokenServiceImpl.class
/token-service/build/classes/java/test/com/code4copy/tokenservice/core/service/impl/TokenServiceImplTest.class
/k8s-vagrant/ubuntu-bionic-18.04-cloudimg-console.log
/k8s-vagrant/.vagrant/
/redirect-service/build/
/docker/.env
